

body{
  background-color: #E7E8EF;
  overflow-x: hidden;
}
h3 {
  display: inline-block;
}


/*======Build view========*/
.container {
  width: 100vw;
  height: 100vh;
}

.routeContainer {
  margin-left: 50px;
  width: 95.5vw;
  height: 100vh;
  overflow-y: scroll;
}
.dataEntry {}

.select {
  width: 90vw;
  height: 550px;
  text-align: left;
  margin: 0 10px 0 5px;
  float: left;
  overflow: hidden;
}

.libHeader {
  width: 100%;
  height: 70px;
  margin-bottom: 5px;
}

.dropdown {
  width: 80;
  height: 550px;
  margin-left: 15px;
}
.createContainer {
  display: flex;
  height: 400px;
  border-left: 2px solid #00BCD4;
}
.add {
  border: 1px solid #C5CAD9;
  background-color: #E7E8EF;
  border-radius: 2px;
  width: 200px;
  height: 48px;
  margin: 5px 0 0 20px;
}

.selectField {
  width: 240px;
  height: 450px;
  margin-right: 10px;
}

.addLabel {
  width: 150px;
  color: black;
  height: 20px;
  margin-bottom: 17px;
  display: inline-block;
  vertical-align: middle;
}
.list {
  width: 200px;
  list-style: none;
  padding-left: 0;
}
.listItem {
  width: 130px;
  height: 40px;
  vertical-align: middle;
  margin-top: 5px;
  padding-right: 5px;
  border: 1px solid #C5CAD9;
  background-color: #E7E8EF;
  border-radius: 2px;
}

.listItem:hover {
  background-color: #FD575D;
  border-radius: 3px;
}
.listItemContent {
  width: 150px;
  height: 30px;
}
.listItemText {
  margin: 5px auto 0 5px;
  color: black;
}
.remove {
  color: red;
  float: right;
  width: 15px;
  height: 15px;
}
.selectionHeader {
  width: 200px;
  height: 50px;
  padding-left: 10px;
}
.selectionBody {
  width: 200px;
  height: 50px;
  padding-left: 10px;
}
.saveButton {
  position: relative;
  top: 6px;
  left: 40px;
}
.selectionList {
  width: 200px;
  height: 400px;
  display: inline-block;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 5px;
}

/*======Other========*/

.banner {
  height: 200px;
  text-align: center;
  margin-right: 55px;
  padding-top: 120px;
}

.dataVis {
  width: 500px;
  height: 300px;
  background-color: green;
  margin: 20px 0 0 20px;
}
.welcome {
  padding-top: 20px;
}

.signin {
  width: 500px;
  height: 300px;
  background-color: lightgray;
  margin: 20px 0 0 20px;
}
/*======Info View========*/
.infoContainer {
  width: 95vw;
  color: black;
}
.infoHeader {
  width: 95vw;
  height: 100px;
}

.infoDisplay: {
  width: 50px;
}
.itemContent {
  float: left;
  margin-left: 40px;
}
.endpoint {
  /*background: linear-gradient(to right, #2090d2 0%, #4db5f2 100%);*/
  /*padding: 1px;*/
  /*width: 600px;*/
  padding-left: 15px;
  background: linear-gradient(to right, #2090d2 0%, #4db5f2 100%);
  color: #FFF;
  font-family: "Gotham SSm A","Gotham SSm B",proxima-nova,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  height: 100px;
  /*margin: 5px;*/
}

/*======HomePage View========*/

.dashBanner {
  height: 5px;
  /*background: linear-gradient(169deg,#0c63aa,#7ac4fa);*/
  background: linear-gradient(to right, #2090d2 0%, #4db5f2 100%);
  color: #FFF;
  margin-left: -50px;
  margin-right: -300px;
  margin-top: 0px;
  font-family: "Gotham SSm A","Gotham SSm B",proxima-nova,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}
.dashOneliner {
  font-size: 120%;
}

.homepage {
  width: 90vw;
  height: 100vh;
}

.dashButton {
  background-color: #4bb1fa;
}

.dashTableTitle {
  float:left;
  display: inline-block;
  margin-left:0px;

}

.dashSettingIcon {
  margin-right:0px;
  float: right;
  display: inline-block;
  font-size: 2px;
}
.dashTableButton {
  display: block;

 }

.addTable:hover {
   background-color: #C5CAD9;
 }


.dashCardTop {
  border-bottom: 1px solid #C5CAD9;
  height: 20%;
  width: 100%;
}
.dashTopBorder {
 /*border-top: 5px solid #4db5f2 ;*/
  /*background: linear-gradient(169deg,#0c63aa,#7ac4fa);*/
  /*background: linear-gradient(to right, #2090d2 0%, #4db5f2 100%);*/
}
.dashCardTableName {
  display: inline-block;
  float: left;
  margin: 15px 0px 0px 20px;
  font-weight: bold;
  font-size: 130%;
}
.dashEndPointLabel {
  float: left;
  display: block;
  font-weight: bold;

}
.dashEndPoint {
  color:#4db5f2;
  display: block;

 }
.endPointView {
  margin: 45px 0px 0px 20px;
}


.addTable:hover {
   background-color: #C5CAD9;   
 }


.dashCardTop {
  border-bottom: 1px solid #C5CAD9;
  height: 20%;
  width: 100%; 
}
.dashTopBorder {
 /*border-top: 5px solid #4db5f2 ;*/
  /*background: linear-gradient(169deg,#0c63aa,#7ac4fa);*/
  /*background: linear-gradient(to right, #2090d2 0%, #4db5f2 100%);*/
}
.dashCardTableName {
  display: inline-block;
  float: left;
  margin: 15px 0px 0px 20px;
  font-weight: bold;
  font-size: 130%;
} 
.dashEndPointLabel {
  float: left;
  display: block;
  font-weight: bold;
  
}
.dashEndPoint {
  color:#4db5f2;
  

 }
/* .addTable {
  position: relative;
  top: -42px;
}*/
 .addTableCard {
  position: relative;
  top: -140px;
}

/* .addTableCardEmpty {
  position: relative;
  top: -140px;
}*/

.endPointView {
  margin: 45px 0px 0px 20px;
} 





.node {
  cursor: pointer;
}


.overlay{
    background-color:#EEE;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;

}

.signupBackground {
  /*background: linear-gradient(169deg,#0c63aa,#7ac4fa);*/
  background: linear-gradient(to right, #2090d2 0%, #4db5f2 100%);
  position: absolute;
  right: 1px;
  width: 105%;
  height: 100%;
  z-index: 2;
}

.signinPaper {
  position: absolute;
  top: 25%;

}

.node text {
  font-size:10px;
  font-family:sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
     display: none;
}


 #tree-container {
   width: 500px;
   height: 900px;
 }
 .addTable:hover {
   background-color: #C5CAD9;
 }
 /*======Select========*/

.dashEndPoint:hover {
  color:#4db5f2;
 }
.dashTopBorder {
 /*border-top: 5px solid #4db5f2 ;*/
  /*background: linear-gradient(169deg,#0c63aa,#7ac4fa);*/
  /*background: linear-gradient(to right, #2090d2 0%, #4db5f2 100%);*/
}

 .Select {
   position: relative;
 }
 .Select,
 .Select div,
 .Select input,
 .Select span {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }
 .Select.is-disabled > .Select-control {
   background-color: #f9f9f9;
 }
 .Select.is-disabled > .Select-control:hover {
   box-shadow: none;
 }
 .Select.is-disabled .Select-arrow-zone {
   cursor: default;
   pointer-events: none;
 }
 .Select-control {
   background-color: #fff;
   border-color: #d9d9d9 #ccc #b3b3b3;
   border-radius: 4px;
   border: 1px solid #ccc;
   color: #333;
   cursor: default;
   display: table;
   height: 36px;
   outline: none;
   overflow: hidden;
   position: relative;
   width: 100%;
 }
 .Select-control:hover {
   box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
 }
 .is-searchable.is-open > .Select-control {
   cursor: text;
 }
 .is-open > .Select-control {
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 0;
   background: #fff;
   border-color: #b3b3b3 #ccc #d9d9d9;
 }
 .is-open > .Select-control > .Select-arrow {
   border-color: transparent transparent #999;
   border-width: 0 5px 5px;
 }
 .is-searchable.is-focused:not(.is-open) > .Select-control {
   cursor: text;
 }
 .is-focused:not(.is-open) > .Select-control {
   border-color: #007eff;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
 }
 .Select-placeholder,
 :not(.Select--multi) > .Select-control .Select-value {
   bottom: 0;
   color: #aaa;
   left: 0;
   line-height: 34px;
   padding-left: 10px;
   padding-right: 10px;
   position: absolute;
   right: 0;
   top: 0;
   max-width: 100%;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
 }
 .has-value:not(.Select--multi) > .Select-control > .Select-value .Select-value-label,
 .has-value.is-pseudo-focused:not(.Select--multi) > .Select-control > .Select-value .Select-value-label {
   color: #333;
 }
 .has-value:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label,
 .has-value.is-pseudo-focused:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label {
   cursor: pointer;
   text-decoration: none;
 }
 .has-value:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label:hover,
 .has-value.is-pseudo-focused:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label:hover,
 .has-value:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label:focus,
 .has-value.is-pseudo-focused:not(.Select--multi) > .Select-control > .Select-value a.Select-value-label:focus {
   color: #007eff;
   outline: none;
   text-decoration: underline;
 }
 .Select-input {
   height: 34px;
   padding-left: 10px;
   padding-right: 10px;
   vertical-align: middle;
 }
 .Select-input > input {
   background: none transparent;
   border: 0 none;
   box-shadow: none;
   cursor: default;
   display: inline-block;
   font-family: inherit;
   font-size: inherit;
   height: 34px;
   margin: 0;
   outline: none;
   padding: 0;
   -webkit-appearance: none;
 }
 .is-focused .Select-input > input {
   cursor: text;
 }
 .has-value.is-pseudo-focused .Select-input {
   opacity: 0;
 }
 .Select-control:not(.is-searchable) > .Select-input {
   outline: none;
 }
 .Select-loading-zone {
   cursor: pointer;
   display: table-cell;
   position: relative;
   text-align: center;
   vertical-align: middle;
   width: 16px;
 }
 .Select-loading {
   -webkit-animation: Select-animation-spin 400ms infinite linear;
   -o-animation: Select-animation-spin 400ms infinite linear;
   animation: Select-animation-spin 400ms infinite linear;
   width: 16px;
   height: 16px;
   box-sizing: border-box;
   border-radius: 50%;
   border: 2px solid #ccc;
   border-right-color: #333;
   display: inline-block;
   position: relative;
   vertical-align: middle;
 }
 .Select-clear-zone {
   -webkit-animation: Select-animation-fadeIn 200ms;
   -o-animation: Select-animation-fadeIn 200ms;
   animation: Select-animation-fadeIn 200ms;
   color: #999;
   cursor: pointer;
   display: table-cell;
   position: relative;
   text-align: center;
   vertical-align: middle;
   width: 17px;
 }
 .Select-clear-zone:hover {
   color: #D0021B;
 }
 .Select-clear {
   display: inline-block;
   font-size: 18px;
   line-height: 1;
 }
 .Select--multi .Select-clear-zone {
   width: 17px;
 }
 .Select-arrow-zone {
   cursor: pointer;
   display: table-cell;
   position: relative;
   text-align: center;
   vertical-align: middle;
   width: 25px;
   padding-right: 5px;
 }
 .Select-arrow {
   border-color: #999 transparent transparent;
   border-style: solid;
   border-width: 5px 5px 2.5px;
   display: inline-block;
   height: 0;
   width: 0;
 }
 .is-open .Select-arrow,
 .Select-arrow-zone:hover > .Select-arrow {
   border-top-color: #666;
 }
 @-webkit-keyframes Select-animation-fadeIn {
   from {
     opacity: 0;
   }
   to {
     opacity: 1;
   }
 }
 @keyframes Select-animation-fadeIn {
   from {
     opacity: 0;
   }
   to {
     opacity: 1;
   }
 }
 .Select-menu-outer {
   border-bottom-right-radius: 4px;
   border-bottom-left-radius: 4px;
   background-color: #fff;
   border: 1px solid #ccc;
   border-top-color: #e6e6e6;
   box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
   box-sizing: border-box;
   margin-top: -1px;
   max-height: 200px;
   position: absolute;
   top: 100%;
   width: 100%;
   z-index: 1;
   -webkit-overflow-scrolling: touch;
 }
 .Select-menu {
   max-height: 198px;
   overflow-y: auto;
 }
 .Select-option {
   box-sizing: border-box;
   background-color: #fff;
   color: #666666;
   cursor: pointer;
   display: block;
   padding: 8px 10px;
 }
 .Select-option:last-child {
   border-bottom-right-radius: 4px;
   border-bottom-left-radius: 4px;
 }
 .Select-option.is-focused {
   background-color: rgba(0, 126, 255, 0.08);
   color: #333;
 }
 .Select-option.is-disabled {
   color: #cccccc;
   cursor: default;
 }
 .Select-noresults {
   box-sizing: border-box;
   color: #999999;
   cursor: default;
   display: block;
   padding: 8px 10px;
 }
 .Select--multi .Select-input {
   vertical-align: middle;
   margin-left: 10px;
   padding: 0;
 }
 .Select--multi.has-value .Select-input {
   margin-left: 5px;
 }
 .Select--multi .Select-value {
   background-color: rgba(0, 126, 255, 0.08);
   border-radius: 2px;
   border: 1px solid rgba(0, 126, 255, 0.24);
   color: #007eff;
   display: inline-block;
   font-size: 0.9em;
   line-height: 1.4;
   margin-left: 5px;
   margin-top: 5px;
   vertical-align: top;
 }
 .Select--multi .Select-value-icon,
 .Select--multi .Select-value-label {
   display: inline-block;
   vertical-align: middle;
 }
 .Select--multi .Select-value-label {
   border-bottom-right-radius: 2px;
   border-top-right-radius: 2px;
   cursor: default;
   padding: 2px 5px;
 }
 .Select--multi a.Select-value-label {
   color: #007eff;
   cursor: pointer;
   text-decoration: none;
 }
 .Select--multi a.Select-value-label:hover {
   text-decoration: underline;
 }
 .Select--multi .Select-value-icon {
   cursor: pointer;
   border-bottom-left-radius: 2px;
   border-top-left-radius: 2px;
   border-right: 1px solid rgba(0, 126, 255, 0.24);
   padding: 1px 5px 3px;
 }
 .Select--multi .Select-value-icon:hover,
 .Select--multi .Select-value-icon:focus {
   background-color: rgba(0, 113, 230, 0.08);
   color: #0071e6;
 }
 .Select--multi .Select-value-icon:active {
   background-color: rgba(0, 126, 255, 0.24);
 }
 .Select--multi.is-disabled .Select-value {
   background-color: #fcfcfc;
   border: 1px solid #e3e3e3;
   color: #333;
 }
 .Select--multi.is-disabled .Select-value-icon {
   cursor: not-allowed;
   border-right: 1px solid #e3e3e3;
 }
 .Select--multi.is-disabled .Select-value-icon:hover,
 .Select--multi.is-disabled .Select-value-icon:focus,
 .Select--multi.is-disabled .Select-value-icon:active {
   background-color: #fcfcfc;
 }
 @keyframes Select-animation-spin {
   to {
     transform: rotate(1turn);
   }
 }
 @-webkit-keyframes Select-animation-spin {
   to {
     -webkit-transform: rotate(1turn);
   }
 }
