

body{
  background-color: #D3D3D3;
  overflow-x: hidden;
}
h3 {
  display: inline-block;
}


/*======Build view========*/
.container {
  width: 100vw;
  height: 100vh;
}

.routeContainer {
  margin-left: 50px;
  width: 95.5vw;
  height: 100vh;
  overflow-y: scroll;
}
.dataEntry {}

.select {
  width: 550px;
  height: 550px;
  text-align: left;
  margin: 0 10px 0 5px;
  float: left;
}

.libHeader {
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
}

.dropdown {
  width: 500px;
  height: 550px;
  margin-left: 15px;
}
.add {
  width: 200px;
  height: 48px;
  margin: 20px 0 0 20px;
}

.selectField {
  width: 250px;
  height: 450px;
  float: right;
}

.add {
  width: 200px;
  height: 48px;
}

.addLabel {
  width: 150px;
  height: 20px;
  margin-bottom: 13px;
  display: inline-block;
  vertical-align: middle;
}
.listItem {
  display: inline-block;
  width: 200px;
}
.listItemContent {
  width: 150px;
}
.remove {
  color: red;
  float: right;
  width: 15px;
  height: 15px;
}
.selectionHeader {
  width: 200px;
  height: 50px;
  padding-left: 10px;
}
.saveButton {
  position: relative;
  top: 6px;
  left: 40px;
}
.selectionList {
  width: 200px;
  height: 550px;
  display: inline-block;
  overflow: scroll;
}

/*======Other========*/

.banner {
  height: 200px;
  text-align: center;
  margin-right: 55px;
  padding-top: 120px;
}

.dataVis {
  width: 500px;
  height: 300px;
  background-color: green;
  margin: 20px 0 0 20px;
}
.welcome {
  padding-top: 20px;
}

.signin {
  width: 500px;
  height: 300px;
  background-color: lightgray;
  margin: 20px 0 0 20px;
}
/*======Info View========*/
.infoContainer {
  width: 95vw;
}
.infoHeader {
  width: 95vw;
  height: 100px;
}
.infoListItem:hover {
  border: 1px solid grey;
  border-radius: 2px;
}
.infoDisplay: {
  width: 50px;
}
.itemContent {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: left;
  margin-left: 30px;
} 
.circle {
  width: 30px;
  float: left;
  height: 30px;
  text-align: center;
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


/*======HomePage View========*/

.dashBanner {
  height: 250px;
  /*background: linear-gradient(169deg,#0c63aa,#7ac4fa);*/
  background: linear-gradient(to right, #2090d2 0%, #4db5f2 100%);
  color: #FFF;
  margin-left: -50px;
  margin-right: -300px;
  font-family: "Gotham SSm A","Gotham SSm B",proxima-nova,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}
.dashOneliner {
  font-size: 120%;
}

.homepage {
  width: 90vw;
  height: 100vh;
}

.dashButton {
  background-color: #4bb1fa;
}

.dashTableTitle {
  float:left;
  display: inline-block;
  margin-left:0px;

}

.dashSettingIcon {
  margin-right:0px;
  float: right;
  display: inline-block;
  font-size: 2px;
}
.dashTableButton {
  display: block;

 }

.node {
  cursor: pointer;
}


.overlay{
    background-color:#EEE;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;

}

.signupBackground {
  /*background: linear-gradient(169deg,#0c63aa,#7ac4fa);*/
  background: linear-gradient(to right, #2090d2 0%, #4db5f2 100%);
  width: 100%;
  height: 100%;
}

.signinPaper {
  position: absolute;
  top: 25%;

}

.node text {
  font-size:10px;
  font-family:sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
     display: none;
}
.addTableCard {
  position: absolute;
  top: -100px;
}
 #tree-container {
   width: 500px;
   height: 900px;
 }
