

body{
  background-color: #E7E8EF;
  overflow-x: hidden;
}
h3 {
  display: inline-block;
}


/*======Build view========*/
.container {
  width: 100vw;
  height: 100vh;
}

.routeContainer {
  margin-left: 50px;
  width: 95.5vw;
  height: 100vh;
  overflow-y: scroll;
}
.dataEntry {}

.select {
  width: 90vw;
  height: 550px;
  text-align: left;
  margin: 0 10px 0 5px;
  float: left;
  overflow: hidden;
}

.libHeader {
  width: 100%;
  height: 70px;
  margin-bottom: 5px;
}

.dropdown {
  width: 80;
  height: 550px;
  margin-left: 15px;
}
.createContainer {
  display: flex;
}
.add {
  border: 1px solid #C5CAD9;
  background-color: #E7E8EF;
  border-radius: 2px;
  width: 200px;
  height: 48px;
  margin: 5px 0 0 20px;
}

.selectField {
  width: 240px;
  height: 450px;
  margin-right: 10px;
}

.addLabel {
  width: 150px;
  height: 20px;
  margin-bottom: 17px;
  display: inline-block;
  vertical-align: middle;
}
.list {
  width: 200px;
  list-style: none;
  padding-left: 0;
}
.listItem {
  width: 130px;
  height: 40px;
  vertical-align: middle;
  margin-top: 5px;
  padding-right: 5px;
  border: 1px solid #C5CAD9;
  background-color: #E7E8EF;
  border-radius: 2px;
}

.listItem:hover {
  background-color: #FD575D;
  border-radius: 3px;
}
.listItemContent {
  width: 150px;
  height: 30px;
}
.listItemText {
  margin: 5px auto 0 5px;
}
.remove {
  color: red;
  float: right;
  width: 15px;
  height: 15px;
}
.selectionHeader {
  width: 200px;
  height: 50px;
  padding-left: 10px;
}
.selectionBody {
  width: 200px;
  height: 50px;
  padding-left: 10px;
}
.saveButton {
  position: relative;
  top: 6px;
  left: 40px;
}
.selectionList {
  width: 200px;
  height: 400px;
  display: inline-block;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 5px;
}

/*======Other========*/

.banner {
  height: 200px;
  text-align: center;
  margin-right: 55px;
  padding-top: 120px;
}

.dataVis {
  width: 500px;
  height: 300px;
  background-color: green;
  margin: 20px 0 0 20px;
}
.welcome {
  padding-top: 20px;
}

.signin {
  width: 500px;
  height: 300px;
  background-color: lightgray;
  margin: 20px 0 0 20px;
}
/*======Info View========*/
.infoContainer {
  width: 95vw;
}
.infoHeader {
  width: 95vw;
  height: 100px;
}

.infoDisplay: {
  width: 50px;
}
.itemContent {
  float: left;
  margin-left: 40px;
}

.endpoint {
  /*background: linear-gradient(to right, #2090d2 0%, #4db5f2 100%);*/
  /*padding: 1px;*/
  /*width: 600px;*/
  padding-left: 15px;
  background: linear-gradient(to right, #2090d2 0%, #4db5f2 100%);
  color: #FFF;
  font-family: "Gotham SSm A","Gotham SSm B",proxima-nova,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  height: 100px;
  /*margin: 5px;*/
} 



/*======HomePage View========*/

.dashBanner {
  height: 5px;
  /*background: linear-gradient(169deg,#0c63aa,#7ac4fa);*/
  background: linear-gradient(to right, #2090d2 0%, #4db5f2 100%);
  color: #FFF;
  margin-left: -50px;
  margin-right: -300px;
  margin-top: 0px;
  font-family: "Gotham SSm A","Gotham SSm B",proxima-nova,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}
.dashOneliner {
  font-size: 120%;
}

.homepage {
  width: 90vw;
  height: 100vh;
}

.dashButton {
  background-color: #4bb1fa;
}

.dashTableTitle {
  float:left;
  display: inline-block;
  margin-left:0px;

}

.dashSettingIcon {
  margin-right:0px;
  float: right;
  display: inline-block;
  font-size: 2px;
}
.dashTableButton {
  display: block;

 }
.addTable:hover {
   background-color: #C5CAD9;   
 }


.dashCardTop {
  border-bottom: 1px solid #C5CAD9;
  height: 20%;
  width: 100%; 
}
.dashTopBorder {
 /*border-top: 5px solid #4db5f2 ;*/
  /*background: linear-gradient(169deg,#0c63aa,#7ac4fa);*/
  /*background: linear-gradient(to right, #2090d2 0%, #4db5f2 100%);*/
}
.dashCardTableName {
  display: inline-block;
  float: left;
  margin: 15px 0px 0px 20px;
  font-weight: bold;
  font-size: 130%;
} 
.dashEndPointLabel {
  float: left;
  display: block;
  font-weight: bold;
  
}
.dashEndPoint {
  color:#4db5f2;
  display: block;

 }
.endPointView {
  margin: 45px 0px 0px 20px;
} 

.node {
  cursor: pointer;
}


.overlay{
    background-color:#EEE;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;

}

.signupBackground {
  /*background: linear-gradient(169deg,#0c63aa,#7ac4fa);*/
  background: linear-gradient(to right, #2090d2 0%, #4db5f2 100%);
  position: absolute;
  right: 1px;
  width: 105%;
  height: 100%;
  z-index: 2;
}

.signinPaper {
  position: absolute;
  top: 25%;

}

.node text {
  font-size:10px;
  font-family:sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
     display: none;
}
.addTableCard {
  position: relative;
  top: -142px;
}
 #tree-container {
  position: relative;
  display: inline-block;
   /*width: 500px;
   height: 900px;*/
 }


